@import "@shared/assets/fonts/index.css";
@import "./theme.css";

* {
  font-family: "Noto Sans", Arial, "sans-serif";
  line-height: 1.3em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#root {
  height: 100vh;
}

main {
  height: 100%;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(var(--background)) inset !important;
  -webkit-text-fill-color: hsl(var(--foreground)) !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
  caret-color: hsl(var(--foreground)) !important;
}

/* Для Firefox */
input:-moz-autofill {
  background-color: transparent !important;
}

/* Для Edge */
input:-ms-input-placeholder {
  background-color: transparent !important;
}