@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url(NotoSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url(NotoSans-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: url(NotoSans-SemiBold.woff2) format("woff2");
}
